@import "command-line.scss";
.navbar {
  border-bottom: thin solid rgba(0, 0, 0, 0.12);
  &-item {
    img {
      max-height: 3rem;
    }
  }
}
.title {
  color: #ce3827;
  font-size: 3rem;
}
#techs {
  animation: rotate 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#techs > * {
  animation: inherit;
  animation-direction: reverse;
  transform-origin: inherit;
  transform-box: inherit;
}
#certel {
  &:hover {
    cursor: pointer;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;

    #right-eye {
      transform: scale(0);
      transform-origin: bottom;
      transform-box: fill-box;
    }
    #eyes-open {
      transform: scale(1);
      transform-origin: bottom;
      transform-box: fill-box;
    }
  }
}
#moving-objects {
  animation: scale 5s infinite ease-in-out;
  transform-origin: center;
}
#certel {
  animation: action 2s infinite alternate;
}
#eyes-open {
  transform: scale(0);
  transition: all 1s ease-in-out;
  transform-origin: bottom;
  transform-box: fill-box;
}
#right-eye {
  transition: all 1s ease-out;
  transform: scale(1);
  transform-origin: bottom;
  transform-box: fill-box;
  animation-delay: 1s;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}
@keyframes scale {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.8);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes eyes-in {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes eyes-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}
